@CHARSET "ISO-8859-1";
body{
	background-image: urlI(https://media.istockphoto.com/id/687840858/photo/steam-powered-train.jpg?s=170667a&w=0&k=20&c=16IDIiVG4eoBOqfBxxPFv20x1QkY1QJugfHEJeukuEw=);
	background-size: cover;
}
div{
	margin-left: "30px";
}